<button mat-button color="primary" (click)="onAddUser(username,useremail,userpass,userCompass)"> insert </button>
<button mat-button color="warn" (click)="onDeleteUser()"> remove </button>
<br>
<input type="text" #username  placeholder="enter name">
<br><br>
<input type="email" #useremail placeholder="enter email">
<br><br>
<input type="password" #userpass placeholder="enter password">
<br><br>
<input type="password" #userCompass placeholder="confirm password">
<br><br>
<p>{{msg}}</p>
<table>
  <tr>
    <th> Name </th>
    <th> Email </th>
    <th> password </th>
  </tr>
  <tr *ngFor ="let item of users">
    <td> {{item.uname}} </td>
    <td> {{item.uemail}} </td>
    <td> {{item.upass}} </td>
  </tr>
 
</table>
<router-outlet></router-outlet>